#MX{
  display: inline-table;
  border-collapse: collapse;
  text-align: left;
}

#MX td{
  height: 20px;
}

#MXin{
  background-color: skyblue;
}

#MX tr:last-child td{
  background-color: #ffffaa;
}

#MXout{
  border: 1px solid red;
  padding: 3px 10px;
  text-align: center;
}